/* Font Family */
h1, h2, h3, h4, h5, h6, li, .btn, .btn-green, .btn-sm, .btn-main, .btn-sm-previous, input[type=text], input[type=email], input[type=number], input[type=email], select, .form-select, .accordion-button, .accordion-button:focus, .accordion-button:not(.collapsed) {
    font-family: azo-sans-web, sans-serif;
}
p {
    font-family: 'Nunito Sans', sans-serif;
}




/* Font Styling */
h1 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
    margin-bottom: 0.75rem;
    color: #2D3134
}
h2 {
    font-size: 1.12rem;
    line-height: 1.75rem; 
    margin-bottom: 0;  
    color: #2D3134
}
h3 {
    font-size: 0.875rem;
    margin-top: 5px;
}
h2, h6, p, li {
    font-weight: 400!important;
}
p, li {
    font-size: 1rem!important;
    line-height: 1.62rem;
    color: #2D3134
}








 
/* Container Large Form Width Desktop */
.container-lg {
    max-width: 1100px!important;
}




/* Color Primary Dark */
.bg-primary {
    background-color: #072443!important;
}
/* Green Color */
.bg-success {
    background-color: #EFFAF7!important;
    border: 2px solid #68d0b3!important;
}




/* HR */
hr {
    background-color: #74a4bf;
    margin-top: 3.43rem!important;
    margin-bottom: 3.43rem!important;
}


/* Progress Bar */
.progress-bar-indicator li {
    position: relative;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    width: 25%;
    box-sizing: border-box;
    padding: 45px 10px 0;
    z-index: 1;
}
.progress-bar-indicator li:before {
    content: counter(li);
    counter-increment: li;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 49%;
    margin-left: -17px;
    border-radius: 50%;
    background-color: #1F3955;
    line-height: 2.7em;
    color: #ffffff50;
}
.progress-bar-indicator {
    counter-reset: li;
    padding-left: 0;
}
.progress-bar-indicator li:after {
    position: absolute;
    width: 100%;
    height: 1.25px;
    background-color: #1F3955;
    content: '';
    left: 50%;
    top: 20px;
    z-index: -1;
}
.progress-bar-indicator li:last-of-type:after {
    display: none;
}
.active-step:before {
    background-color: #2582b7!important;
    width: 26px;
    height: 26px;
    line-height: 22px;
    margin-left: -11px;
    top: 2px;
    color: #fff!important;
}
.step-complete:before {
    content: "\f00c"!important;
    font-family: "FontAwesome";
}




/* Large Form Previous Button */
.btn-previous-main-form {
    color: #43C8AD!important;
    border: 1px solid #43C8AD;
    font-size: 15px;
    line-height: 23p;
}
/* Large Form Previous Button Hover*/
.btn-previous-main-form:hover {
    color: #3CB49C!important;
    background-color: #F8F9FA;
}




/* Primary Button */
.btn-primary {
background-color: #2991CC;
border: #2991CC;
}
/* Hover */
.btn-primary:hover {
background-color: #2582b7;
border: #2582b7;
}




/* Submit Button / Green Button */
.btn-green {
    background-color: #43C8AD;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    border-radius: 0.25rem;
    font-size: 15px;
}
/* Submit Button / Green Button */
.btn-green:hover {
    color: #fff;
    background-color: #3CB49C;
}




/* Policy Modal Button */
.policy-btn {
    color: #2582b7;
    text-decoration: none;
    transition: 0.3s;
}
/* Policy Modal Button Hover */
.policy-btn:hover {
    color: #2991CC;
    transition: 0.3s;
}
/* Policy Modal */
.modal-notices ol {
    padding-left: 1rem
}




/* Debt / Asset Modal Cancel Button */
.btn-cancel {
    background-color: transparent;
    border: 0;
}
/* Debt / Asset Modal Cancel Button Hover */
.btn-cancel:hover {
    background-color: transparent;
    border: 0;
}




/* Add Debt / Asset Circle Box */
.circle-add {
    height: 3rem;
    width: 3rem;
    background-color: #2991CC;;
    border-radius: 50%;
    display: inline-block;
    position: relative!important;
    transition: 0.3s;
    transition: transform .7s ease-in-out;
}
/* Add Debt / Asset Circle Box Hover */
.circle-add:hover {
    background-color: #1a6c9c;
    transition: 0.3s;
    cursor: pointer;
    transform: rotate(360deg);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(52,180,255,0.3); 
    box-shadow: 0px 0px 10px 0px rgba(52,180,255,0.3);
}
/* Add Debt / Asset Circle Box Plus Sign */
.circle-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


/* Debt / Asset Boxes */
.debt-asset-box {
    border: 1px solid #33333310;
    transition: 0.3s;
    min-height: 207px;
}
/* Debt / Asset Boxes Hover */
.debt-asset-box:hover {
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    transition: 0.3s;
}
/* Debt Summary Boxes */
.debt-summary {
    background-color: #072443;
    padding: 30px;
}
/* Debt Summary Boxes h1 */
.debt-summary h1 {
    color: #fff;
}


/* Debt / Asset Boxes Error */
.debt-asset-box-error {
    border: 1px solid #dc3545!important;
    background-color: #dc354525!important;
}
/* Add Debt / Asset Circle Box Error */
.circle-add-error {
    background-color: #dc3545;   
    transition: 0.3s; 

}
/* Add Debt / Asset Circle Box Hover Error */
.circle-add-error:hover {
    background-color: #b92d3b;
}








/* Delete Debt / Asset Circle Modal */
.modal-circle {
    background-color: #f8f9fa;;
    border-radius: 50%;
    width: 9.37rem;
    height: 9.37rem;
    position: relative;
    margin-bottom: 2.5rem;
}
/* Delete Debt / Asset Bin Modal */
.modal-circle .fa-trash-o {
    color: #FF4141;
    position: absolute;
    top: 51px;
    right: 53px;
    font-size: 3.12rem;
}
/* Delete Debt / Asset Text Modal */
.modal-body-debt-asset h2 {
    font-size: 1.5rem!important;
    font-weight: 600!important;
}
.modal-body-debt-asset h3 {
    color: #797d80;
    font-size: 1.12rem;
    margin-top: 1rem;
}
/* Delete Modal Body */
.modal-content {
    border: 1px solid #33333310!important;
}
/* Delete Modal Button */
.modal-content .btn-danger {
    padding: 0.75rem 1.87rem;
}
/* Delete Modal Footer */
.modal-footer {
    margin-top: 3.43rem;
}




/* Small Form Container */
.sm-form-container {
    background-color: #072443; 
    padding: 5rem 4.37rem; 
    border-radius: 5px;
    min-width: 37.5rem;
    max-width: 37.5rem;
}
/* Small Form Radio Buttons */
.btn-sm {
    background-color: #1c3b5d;
    border: 0;
    color: #fff;
    border: 1px solid #1c3b5d;
    border-radius: 5px;
    font-weight: 400;
}
/* Small Form Radio Buttons Hover */
.btn-sm:hover {
    color: #fff;
    background-color: #62b2df;
    border: 1px solid #62b2df;
}
/* Small Form Radio Buttons Checked */
.btn-sm:checked+.btn-sm {
    background-color: #62b2df;
}
/* Small Form Previous Button*/
.btn-sm-previous {
    color: #fff;
    border: 1px solid #43C8AD;
    border-radius: 0.25rem;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}
/* Small Form Previous Button Hover */
.btn-sm-previous:hover {
    color: #fff;
    background-color: #43C8AD;
    border-radius: 0.25rem;
}




/* Input Fields */
input[type=text], input[type=email], input[type=number], input[type=email], select, .form-select {
    border: 1px solid rgba(51, 51, 51, 0.063) !important;
    font-size: 0.93rem;
    font-weight: 400;
    transition: 0.3s;
    box-shadow: rgb(149 157 165 / 2%) 0px 8px 24px;
}
/* Input Field Numbers */
.input-group-text {
    background-color: #F8F9FA;
    border: 1px solid rgba(51, 51, 51, 0.063) !important;
    font-weight: 500;
    font-size: 0.93rem;
}
/* Select Field Text Color */
select:required:invalid {
    color: #646664;
}




/* Help Box Container */
.help-box {
    background-color: #E1F0F8;
    padding: 1.25rem; 
    border-radius: 0.31rem;
    color: #2D3134;
    font-size: 0.87rem;
    line-height: 1.5rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.313rem solid #2991CC;
}
/* Help Box P */
.help-box p {
    font-size: 0.87rem!important;
}
/* Help Box Link */
h3 a, h3 {
    font-size: 0.81rem;
    color: #2991CC;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
}
/* Help Box Hover */
 h3 a:hover {
     color: #2582b7;
 }




/* Conditional Field Border Left */
.conditional-fields {
    border-left: 0.28rem solid #2991CC;
}

/* Field Error Validation */
.ck-field-error {
    border-left: 0.28rem solid #dc3545;
}

/* Field Border Error */
.form-control.is-invalid, .was-validated .form-control:invalid, .form-select.is-invalid, .was-validated .form-select:invalid {
    border: 1px solid #dc3545!important;
}

/* Field Border Success */
.form-control.is-valid, .was-validated .form-control:valid, .form-select.is-valid, .was-validated .form-select:valid {
    border: 1px solid #43C8AD!important;
}

/* Box Error */
.ck-box-error {
    border: 1px solid #dc3545;
    background-color: #dc354525;
}


/* Alert Primary Box */
.alert-primary {
    background-color: #E0EFF8;
    border: 0;
}


/* Income & Expenditure Accordion Background */
.accordion-button, .accordion-button:focus, .accordion-button:not(.collapsed) {
    background-color: #F8F9FA;
    border: 1px solid rgba(51, 51, 51, 0.063) !important;
    font-size: 0.93rem;
    font-weight: 400;
    transition: 0.3s;
    box-shadow: rgb(149 157 165 / 6%) 0px 8px 24px;
    border-radius: 0.31rem!important;
    padding: 1.5rem 1.25rem!important;
    
}
.accordion-item {
    background-color: transparent;
    border: none;
}
/* Income & Expenditure Accordion Active */
.accordion-button:not(.collapsed) {
    border: 1px solid #2991CC!important;
    transition: 0.3s;
    background-color: #2991CC25;
}
/* Income & Expenditure Accordion Active Text */
.accordion-button:not(.collapsed) h2, .accordion-button:not(.collapsed) p {
    color: #2582b7;
}
/* Income & Expenditure Accordion Arrow */
.accordion-button::after {
    background-image: url(Assets/arrow-01.svg);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(Assets/arrow-01.svg);
}




/* Income & Expenditure Validated Green Container */
/* Validation Box Tick / Cross Position */
.validation-arrow {
    width: 1.87rem;
    position: absolute;
    left: -11px;
}

.success-container .accordion-button h2 {
    color: #68d0b3!important;
    transition: 0.3s;;
}
.success-container .accordion-button {
    border: 1px solid #82d2bc!important;
    background-color: #82d2bc10;
}

.error-container .accordion-button h2 {
    color: #dc3545!important;
    transition: 0.3s;;
}
.error-container .accordion-button {
    border: 1px solid #dc3545!important;
    background-color: #dc354510;


}



/* Main Button */
.btn-main {
    background-color: #F8F9FA;
    border: 1px solid rgba(51, 51, 51, 0.063) !important;
    font-size: 0.93rem;
    font-weight: 400;
    transition: 0.3s;
    
}
/* Main Button Hover */
.btn-main:hover {
    border: 1px solid #2991CC!important;
    transition: 0.3s;
    cursor: pointer;
    color:#2991CC;
}
/* Main Button Checked */
.btn-main:checked+.btn-main{
    color:#2582b7;
    border: 1px solid #2991CC!important;
    transition: 0.3s;
    background-color: #2991CC25!important;
}




/* Book an Appointment Confirm Button */
.appointment-container .btn-confirm {
    color:#fff;
    transition: 0.3s;
    background-color: #2991CC;
    padding: 0.5rem;
    transition: transform 250ms;
    transition: 0.3s;
    position: relative;
}
/* Book an Appointment Confirm Button Hover */
.appointment-container .btn-confirm:hover {
    background-color: #1b6e9e;
    color: #fff;
}
/* Book an Appointment Confrim Button Chevron Icon */
.appointment-container .btn-confirm:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 135px;
    transition: all .2s;
    font-size: 0.62rem;
}
/* Book an Appointment Confrim Button Chevron Icon Move Right */
.appointment-container .btn-confirm:hover:after {
    right: 7.81rem;
}


/* Book an Appointment Call Now Button */
.appointment-container .btn-alternative {
    position:relative;
    border: 1px solid #E0EFF8 !important;
    transition: 0.3s;
    background-color: #E0EFF8;
    color: #2991CC;
}
/* Book an Appointment Call Now Button Hover */
.appointment-container .btn-alternative:hover {
    position:relative;
    background-color: #ceebfd;
    transition: 0.3s;
}
/* Book an Appointment Call Now Button Phone Icon */
.appointment-container .btn-alternative:after {
    font-family: "Font Awesome 5 Free";
    content: "\f879";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6.25rem;
    transition: all .2s;
    font-size: 0.62rem;
}
/* Book an Appointment Call Now Button Phone Icon Move Right */
.appointment-container .btn-alternative:hover:after {
    right: 5.62rem;
}





/* Call Back, Appointment, Success, Live Chat Page Right */
.middle-right {
    padding: 4rem;
}
/* Call Back, Appointment, Success, Live Chat Page Left */
.middle-left {
    background-image: url(Assets/suc-bg-img-2.jpg);
    background-position: center;
    background-size: cover;
    padding: 4rem;
}
/* Call Back Page Customer Details Section */
.call-back-details {
    background-color: #F8F9FA!important;
    border: 1px solid rgba(51, 51, 51, 0.063) !important;
    padding: 2rem;
}
/* Book an Appointment Wrap */
.appointment-container .booking-wrap {
    padding: 5rem!important;
}







/* Small Screen Media Query */
@media only screen and (max-width: 575.98px) {
    /* Call Back, Appointment, Success, Live Chat Page Container */
    .middle-container {
        justify-content: unset!important;
        align-items:unset!important;
        height:unset!important;
    }
    /* Call Back, Appointment, Success, Live Chat Page Right */
    .middle-right {
        padding: 2rem!important;
    }

    /* Call Back Page Customer Details Section */
    .call-back-details {
        padding: 1.75rem!important;
    }

}

/* Medium Screen Media Query */
@media only screen and (max-width: 767.98px) {
    /* Call Back, Appointment, Success, Live Chat Page Container */
    .middle-container {
        justify-content: unset!important;
        align-items:unset!important;
        height:unset!important;
    }
}

/* Large Screen Media Query */
@media only screen and (max-width: 991.98px) {

    /* Fonts */
    h1 {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    
    /* Terms Modal Font Size */
    .modal-notices p, .modal-notices strong, .modal-notices li {
        font-size: 0.87rem;
    } 
    
    /* Small Form */
    /* Small Form Body */
    .sm-body {
        background-color: #072443!important;
    }
    .sm-form-container {
        min-width: 100%;
        padding: 0 1.87rem;
        height: auto!important;
        padding-top: 5rem;
    }
    .sm-form-outer-container {
        padding: 0;
    }
    
  
    


}






